.makeRed {
  color: red;
}

.makeYellow {
  color: yellow;
}

.makeGreen {
  color: green;
}

.hoverColor:hover {
  color: green;
}

.makeblue {
  color: blue;
}

.makePurple {
  color: purple;
}

.sizer {
  width: 200px;
}

.header {
  color: blue;
  position: relative;
  margin-left: 700px;
}

.portray {
  position: relative;
  right: -805px;
  top: -150px;
  width: 100px;
}
.sizertwo {
  width: 100px;
  position: relative;
  right: -1020px;
  top: -90px;
}
.forButton {
  position: relative;
  right: -660px;
  top: -158px;
  width: 70px;
}
/*.forButton {
  position: relative;
  right: -643px;
  top: -158px;
} */

.forButtonOne {
  position: relative;
  right: -780px;
  top: -201px;
  width: 70px;
}

.forButtonTwo {
  position: relative;
  right: -890px;
  top: -245px;
  width: 70px;
}

.forButtonThree {
  position: relative;
  right: -1070px;
  top: -289px;
  width: 70px;
}

/*.forButtonFour {
  position: relative;
  right: -1070px;
  top: -330px;
  width: 100%;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  background-color: transparent;
  color: black;
  box-sizing: border-box;
  border-radius: 0;
  cursor: text;
  border: 1px solid black;
  margin: 3px;
  width: 20%;
  max-width: 60px;
  height: 20px;
  padding-left: 2px;
}
*/
.forDisplays {
  width: 500px;
  position: relative;
  margin-left: 635px;
  top: -225px;
  text-align: center;
}

/* Mac Miller Section */
.macMillerOuterDiv {
  width: 100%;
  /*centering stuff*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headerDivOuter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.headerDiv {
  width: 100%;
  /*making a row*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerText {
  /*centering stuff*/
  width: 90%;
  text-align: center;
}

.mainMacHeaderS,
.subtitleMacS {
  margin: 0px;
}

.outerDivForImg {
  width: 10%;
}
.logoImS {
  width: 30%;
}

.buttonDiv {
  width: 100%;
  /*centering stuff*/
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.menuText {
  padding-right: 10px;
  padding-left: 10px;
}

.menuText:hover {
  color: grey;
}

.displayingContent {
  /*centering stuff*/
  display: flex;
  justify-content: center;
}
.marginsForLyrics {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
